.box{
    width: clamp(80px, 10vw, 140px);
    aspect-ratio: 1/1;
    background-color: #ca88dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ca88dd;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.nav-links a:hover {
  text-decoration: underline;
}

.logo{
    color: rgb(255, 255, 255);
}