.container{
  display: grid;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ca88dd;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.nav-links a:hover {
  text-decoration: underline;
}

.logo{
    color: rgb(255, 255, 255);
    animation: animate 2s linear 0 infinite alternate alternate;
}



@keyframes animate {
     0% {
         transform: rotate(60deg) scale(0.8);
    }
     25% {
         transform: rotate(90deg) scale(1.2);
    }
}